body {
  display: flex;
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}
#root {
  width: 90%; /* Adjust width to account for 5% margin on each side */
  max-width: 1280px; /* Optional: Set a max width */
  text-align: center;
  margin: 5%; /* Add a 5% margin around the app */
  border-top: 2px solid #ccc; /* Add a top border */
  border-bottom: 2px solid #ccc; /* Add a bottom border */
}